@using WebApplication1.Entities;

@model List<Contact>


<div class="row">


    <div class="row">
        <div class="col-md-2 show-border">
            <a asp-action="Create" asp-asp-controller="Contacts" class="btn btn-success">
                Create
            </a>
        </div>
        <div class="col-md-10 show-border">
            <form asp-controller="Contacts" asp-action="Index" method="get" class="my-2 mx-2">
                <div class="input-group">
                    <select class="form-select" id="inputSearch" name="searchBy">
                        <option selected value="">Search by...</option>
                        <option value="name">Name</option>
                        <option value="email">Email</option>
                        <option value="phone">Phone</option>
                        <option value="category">Category</option>
                    </select>
                    <input name="searchFor" class="form-control" id="inputSearch" aria-describedby="inputSearchComment" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit" id="inputSearch">Search</button>
                    <a class="btn btn-outline-primary" type="button" asp-controller="Contacts" asp-action="index">Clear Search</a>
                </div>
            </form>
        </div> 
    </div>
        

    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td>Manage</td>
                    <td>Id</td>
                    @* <td>First Name</td> *@
                    @{
                        var sortBy = Context.Request.Query["sortBy"] == "firstName" ? "firstNameDesc" : "firstName";
                    }
                    <th>
                        <a asp-action="index" asp-route-sortby="@sortBy"
                           asp-route-page="@Context.Request.Query["page"]"
                           asp-route-searchby="@Context.Request.Query["searchBy"]"
                           asp-route-searchfor="@Context.Request.Query["searchFor"]">First Name
                       </a>
                    </th>
                   
                    @*  <td>Last Name</td> *@
                    @{
                        sortBy = Context.Request.Query["sortBy"] == "lastName" ? "lastNameDesc" : "lastName";
                    }
                    <th>
                        <a asp-action="index" asp-route-sortby="@sortBy"
                           asp-route-page="@Context.Request.Query["page"]"
                           asp-route-searchby="@Context.Request.Query["searchBy"]"
                           asp-route-searchfor="@Context.Request.Query["searchFor"]">Last Name
                       </a>
                    </th>
                    
                    <td>Email</td>
                    <td>Phone</td>
                    <td>Category</td>
                    <td>Info</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-controller="Contacts" class="btn btn-warning" asp-route-id="@item.Id">
                                Edit
                            </a>
                            <a asp-action="Delete" asp-controller="Contacts" class="btn btn-danger" asp-route-id="@item.Id">
                                Delete
                            </a>
                        </td>
                        <td>@item.Id</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Email</td>
                        <td>@item.Mobile</td>
                        <td>@item.Category?.CategoryName</td>
                        <td>
                            <a asp-action="Index" asp-controller="ContactDetails" class="btn btn-primary mx-2 my-2" asp-route-id="@item.Id">
                                View
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>