@using WebApplication1.Entities;

@model Contact

<div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
        <div class="card">
            <div class="card-header">
                Detail Contact ID @Model.Id
            </div>
            <div class="card-body">
                <p class="card-text">First Name: @Model.FirstName</p>
                <p class="card-text">Last Name: @Model.LastName</p>
                <p class="card-text">Email: @Model.Email</p>
                <p class="card-text">Mobile: @Model.Mobile</p>
                <p class="card-text">DeleteAble: @Model.UnDeleteAble</p>
                <p class="card-text">Priority: @Model.PriorityType</p>
                <p class="card-text">Category: @Model.Category?.CategoryName</p>
                <a class="btn btn-secondary" asp-controller="Contacts" asp-action="index">Cancel</a>
            </div>
        </div>
    </div>
</div>




